{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>🌈 Math Hero 🌈</h1>
        <p>What do you want to do?</p>
    </header>

    <main class="menu-list">
        <a href="{% url 'player_list' %}" class="nav-btn players-btn">
            <span class="emoji-icon">👤</span> Players
        </a>

        <a href="/practice" class="nav-btn practice-btn">
            <span class="emoji-icon">📝</span> Practice
        </a>

        <a href="/math" class="nav-btn math-btn">
            <span class="emoji-icon">🔢</span> Math
        </a>

        <a href="/scores" class="nav-btn scores-btn">
            <span class="emoji-icon">🏆</span> Scores
        </a>
    </main>
{% endblock %}