{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>🌈 Math Hero 🌈</h1>
        <p>What do you want to do?</p>
    </header>

    <main class="menu-list">
        <a href="{% url 'player_list' %}" class="nav-btn players-btn">
            <span class="emoji-icon">👤</span> Players
        </a>

        <a href="/practice" class="nav-btn practice-btn">
            <span class="emoji-icon">📝</span> Practice
        </a>
        {% if current_player_id %}
             <a href="{% url 'math_operations' child_id=current_player_id %}" class="nav-btn math-btn">
                🔢 Math
        </a>
            {% else %}
        <a href="{% url 'player_list' %}" class="nav-btn math-btn">
            🔢 Math (Choose a Player)
        </a>
{% endif %}
        <a href={% url 'scoreboard' %} class="nav-btn scores-btn">
            <span class="emoji-icon">🏆</span> Scores
        </a>
    </main>
{% endblock %}